<div id="header">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Spree</a>
        <div class="nav-collapse collapse">
        	<ul class="nav pull-right">
  	      	<li class="dropdown">
  	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= spree_current_user.email %> <b class="caret"></b></a>
  	          <ul data-hook="admin_login_navigation_bar" class="dropdown-menu"></nav>
  	        </li>
  	      </ul>
        	<%= render :partial => 'spree/admin/shared/menu' %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="navbar navbar-static-top">
    <%= render :partial => 'spree/admin/shared/sub_menu' %>
  </div>
</div>
