<div class="form-actions" data-hook="buttons">
  <%= button t('actions.create'), 'btn btn-large btn-primary' %>
  <span class="or"><%= t(:or) %></span>
  <%= link_to_with_icon 'icon-remove', t('actions.cancel'), collection_url, :class => 'btn' %>
</div>
