<% if content_for?(:sub_menu) %>
  <nav id="sub-menu" class="navbar navbar-static-top navbar-submenu" data-hook>
    <div class="navbar-inner">
      <%= yield :sub_menu %>	
    </div>
  </nav>
<% end %>